.card{
    width: 30%;
    height: 30%;
    border-radius: solid gray 5px;
    margin: 0px auto;
    background-color: aqua;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
}
